<!DOCTYPE html>
<html>
<head>
  <title>Switch</title>
  
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <link rel="apple-touch-icon" href="/assets/x10switch_icon.png"/>



  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div data-role="page" data-quicklinks="true">
		
		<%= yield %>

		<div id="footer" data-role="footer" data-position="fixed" data-tap-toggle="false" class="jqm-footer">
			<p id="logo"></p>
			<p id="copyright"><small>2014 - harmdelaat.com</small></p>
		</div><!-- /footer -->
		
</div><!-- /page -->
s
</body>
</html>
